html, body{
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
}
/* home page */
.home{
    padding:0;
    margin:0;
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
    background-image: linear-gradient(to bottom right, #112351, 60%, #BF611E);
    background-repeat: no-repeat;
    position: fixed;
    z-index: 100;
}

.home h1{
    color: #FDFFFC;
}

#intro {
    background-color: #d5dee2;
}

/* navbar */
nav {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #112351;
}
li {
    font-size: 20px;
    padding: 10px 1em;
    list-style: none;
}
  
li a {
    text-decoration: none;
    color: #FDFFFC;
  }

li a:hover:not(.active) {
    background-color: #112351;
  }

.active {
    background-color: #BF611E;
  }

footer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    left: 0;
    bottom: 0;
    background-color: #BF611E;
    color: #d5dee2;
}

/* blog page */
.blog .container{
    overflow: hidden;
    max-width: 900px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
}

.blog hr{
	border: 0.5px solid #d5dee2;
}
.blog .date{
    font-size: 1em;
    font-weight: 400;
    text-align: justify;
}
.blog p{
    text-align: justify;
    
}

/* contact */
.contact{
    background-color: #263760;
}


.contact input[type=text], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #FDFFFC;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

.contact input[type=submit] {
    background-color: #112351;
    color: #FDFFFC;
    padding: 12px 20px;
    border: 2px solid #d5dee2;
    box-sizing: inherit;
    border-radius: 4px;
    cursor: pointer;
  }
  .contact input[type=submit]:hover{
    background-color: #BF611E;
  }

.contact .form-container {
    display: grid;
    grid-template-columns: 100px auto 100px;
    justify-content: center;
    /* margin: 200px auto; */
    /* width: 30vw; */
    border-radius: 5px;
    background-color: #112351;
    padding: 20px;   
    }

.social-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    /* margin: 30% auto; */
    background-color: #263760;
}

.form{
    grid-column: 2 / 3;
}

.social-container i{
    font-size: 5vw;
}
